# Compiled Object files
*.slo
*.lo
*.o
*.obj

*.swp

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out

# outputs
**/results
**/wordstreams
**/backup_results
**/runs
**/figures
**/ferrimagnet/figures
**/ferrimagnet/tmp
*.csv

#cache
**/__pycache__
.DS_Store
